.markdown h1:not(:first-child),
.markdown h2:not(:first-child),
.markdown h3:not(:first-child),
.markdown h4:not(:first-child),
.markdown h5:not(:first-child),
.markdown h6:not(:first-child) {
  margin-top: 2.5rem;
}

.markdown h1:not(:last-child),
.markdown h2:not(:last-child),
.markdown h3:not(:last-child),
.markdown h4:not(:last-child),
.markdown h5:not(:last-child),
.markdown h6:not(:last-child) {
  margin-bottom: 1rem;
}

.markdown p {
  margin: 0;
}

.markdown p:not(:last-child) {
  margin-bottom: 0.8rem;
}

.markdown table {
  width: 100%;
  overflow: hidden;
  border-radius: 0.8rem;
}

.markdown td,
.markdown th {
  padding: 0.6rem;
  vertical-align: top;
}

.markdown tr:nth-child(odd) {
  background-color: rgb(244, 244, 244);
}

.markdown tr:nth-child(even) {
  background-color: rgb(252, 252, 252);
}
