.markdown h1:not(:first-child),
.markdown h2:not(:first-child),
.markdown h3:not(:first-child),
.markdown h4:not(:first-child),
.markdown h5:not(:first-child),
.markdown h6:not(:first-child) {
  margin-top: 2.5rem;
}

.markdown h1:not(:last-child),
.markdown h2:not(:last-child),
.markdown h3:not(:last-child),
.markdown h4:not(:last-child),
.markdown h5:not(:last-child),
.markdown h6:not(:last-child) {
  margin-bottom: 1rem;
}

.markdown p {
  margin: 0;
}

.markdown table {
  border-spacing: 0;
}

.markdown thead {
  border: none;
}

.markdown tr {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, max-content));
  gap: 2rem;
}

.markdown td, .markdown th {
  padding: 0.4rem 0rem;
}
