{% import 'components.html' as components %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="google-site-verification" content="rw3zl24qRnEpfOHiKe3Nbkbfpg6knWRiaT6SqqEap3g" />
    <meta name="description"
        content="The 17th International Natural Language Generation Conference is scheduled to be held in Tokyo, Japan from September 23rd to 27th, 2024." />

    <!-- OGP -->
    <meta property="og:title" content="INLG2024" />
    <meta property="og:image" content="https://inlg2024.github.io/static/images/ogp.webp" />
    <meta property="og:description"
        content="The 17th International Natural Language Generation Conference is scheduled to be held in Tokyo, Japan from September 23rd to 27th, 2024." />
    <meta property="og:url" content="https://inlg2024.github.io" />

    <!-- External Javascript libs_ext  -->
    <script src="https://cdn.jsdelivr.net/npm/d3@5/dist/d3.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.3/dist/handlebars.min.js"
        integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment-timezone@0.5.28/builds/moment-timezone-with-data.min.js"
        integrity="sha256-IWYg4uIC8/erItNXYvLtyYHioRi2zT1TFva8qaAU/ww=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <!-- Library libs_ext -->
    <script src="static/js/libs_ext/typeahead.bundle.js"></script>


    <!--    Internal Libs -->
    <script src="static/js/data/api.js"></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">

    <!-- External Fonts (no google for china) -->
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/markdown.css" />
    <link rel="stylesheet" href="static/css/fa_solid.css" />
    <link rel="stylesheet" href="static/css/lazy_load.css" />
    <link rel="stylesheet" href="static/css/typeahead.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>{{config.page_title.prefix}}{% if page_title
        %}{{config.page_title.separator}}{{page_title}}{% endif %}</title>
    {% endblock %}
</head>

<body>
    <!-- NAV -->
    {% block header %}

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mr-auto" id="main-nav">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logo" src="{{config.logo.image}}" style="height: 3rem" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-right flex-grow-1" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{ 'active' if request.path == '/' }}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == '/calls.html' }}">
                        <a class="nav-link" href="/calls.html">Calls</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == '/registration.html' }}">
                        <a class="nav-link" href="/registration.html">Registration</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == '/organizers.html' }}">
                        <a class="nav-link" href="/organizers.html">Organizers</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Workshops
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="https://sites.google.com/view/aiwolfdial2024-inlg">AIWolfDial2024</a>
                            <a class="dropdown-item" href="https://practicald2t.github.io/">Practical D2T</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Program
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/tutorials.html">Tutorials</a>
                        </div>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == '/faq.html' }}">
                        <a class="nav-link" href="/faq.html">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block body %}
    <!-- User Overrides -->
    <style>
        .back {
            position: relative;
            background: url("{{config.background_image}}") no-repeat center;
            background-size: cover;
            background-attachment: fixed;
        }

        .back h2 {
            font-weight: 600;
        }

        .back h3 {
            font-weight: 300;
        }

        .back .dark-filter {
            top: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 60%;
            background-color: black;
        }

        .content {
            margin: 2rem 0;
        }
    </style>

    <div class="jumbotron jumbotron-fluid back">
        <div class="dark-filter"></div>
        <div class="row header m-5">
            <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
                <h2 class="display-4">
                    {{ config.tagline | safe }}
                </h2>
                <h3 class="mt-4">
                    {{ config.date | safe }} <span style="text-wrap: nowrap">@ {{ config.place | safe }}</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Content -->
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block footer %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{config.analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag("js", new Date());
        gtag("config", "{{config.analytics}}");
    </script>

    <!-- Footer -->
    <footer class="footer bg-light p-4">
        <div class="container">
            <p class="text-center">© {{config.organization}}</p>
        </div>
    </footer>

    <!-- Code for hash tags -->
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.hash !== "") {
                $(`a[href="${window.location.hash}"]`).tab("show");
            }

            $("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                const hash = $(e.target).attr("href");
                if (hash.substr(0, 1) === "#") {
                    const position = $(window).scrollTop();
                    window.location.replace(`#${hash.substr(1)}`);
                    $(window).scrollTop(position);
                }
            });
        });
    </script>
    {% endblock %}
</body>

<style>
    .site-title {
        font-weight: bold;
        font-size: 2rem;
    }
</style>

</html>