{% set active_page = "Home" %}
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row" style="margin-bottom: 2rem">
    <div class="markdown col-sm border p-4">
      {{ home | markdown }}
    </div>
    <!--    <div class="col col-lg-2">-->
    <!--      <a class="twitter-timeline" data-height="500" href="https://twitter.com/inlgmeeting?ref_src=twsrc%5Etfw">Tweets by inlgmeeting</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
    <!--    </div>-->
  </div>
</div>

{% endblock %}
