{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    position: relative;
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
    padding-bottom: 20px;
  }

  .back h2 {
    font-weight: 600;
  }

  .back h3 {
    font-weight: 300;
  }

  .back .dark-filter {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 60%;
    background-color: black;
  }
</style>

<div class="jumbotron jumbotron-fluid back">
  <div class="dark-filter"></div>
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h3 class="p-5">
        {{config.date|safe}} @ {{config.place|safe}}
      </h3>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" style="margin-bottom: 2rem">
    <div class="col-sm border p-4">
      {{ home | markdown }}
    </div>
    <!--    <div class="col col-lg-2">-->
    <!--      <a class="twitter-timeline" data-height="500" href="https://twitter.com/inlgmeeting?ref_src=twsrc%5Etfw">Tweets by inlgmeeting</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
    <!--    </div>-->
  </div>
</div>
{% endblock %}
