{% set active_page = "Organizers" %}
{% extends "base.html" %}

{% block content %}

<!-- Organizers -->
{{ components.section("Organizers") }}

<h3 style="margin-top: 2rem;">Program Chairs</h3>
<div class="row">
  {% for person in pc_chairs %}
  {{ components.display_person(person) }}
  {% endfor %}
</div>

<h3 style="margin-top: 2rem;">Local Organization Committee</h3>
<div class="row">
  {% for person in local_organizers %}
  {{ components.display_person(person) }}
  {% endfor %}
</div>

{% endblock %}